<div class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <form (ngSubmit)="login()">
              <div class="mb-md-5 mt-md-4 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">Connexion</h2>
                <p class="text-white-50 mb-5">Veuillez entrer votre adresse email et votre mot de passe !</p>

                <div class="form-outline form-white mb-4">
                  <input type="email" [(ngModel)]="email" name="email" class="form-control form-control-lg" required/>
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" [(ngModel)]="password" name="password" id="typePasswordX" class="form-control form-control-lg" required/>
                  <label class="form-label">Mot de passe</label>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Connexion</button>


                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="isAdmin" name="isAdmin" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Admin
                  </label>
                </div>

              </div>

              <div>
                <p class="mb-0">Crée le <a class="text-white-50 fw-bold" style="cursor: pointer;" (click)="register()">Compte</a>
                </p>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
